.footer {
    display: flex;
    justify-content: space-between;
    padding: 70px 100px;
}



.left-footer {
    /* background-color: gray; */
}

.location {
    /* border: 2px solid red; */
    display: flex;
    /* justify-content: space-between; */
}

.home-detail {
    display: flex;
    margin-left: 4rem;
    flex-direction: column;
}

.home-detail span {
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
}

.call-detail {
    /* border: 2px solid rgb(153, 255, 0); */
    margin-top: 2rem;

    display: flex;
}

.phone-no {
    margin-left: 4rem;
}

.phone-no p {
    font-size: 2rem;
    font-weight: 600;

}

.mail-info {
    display: flex;
    margin-top: 2rem;
    /* border: 2px solid rgb(17, 0, 255); */

}

.mail-name {
    margin-left: 4rem;

}

.mail-name p {
    font-size: 1.2rem;
    font-weight: 600;

}



/* ..............right side footer............ */
.right-footer {
    line-height: 60px;
}

.right-footer h1 {
    font-size: 3rem;
}

.right-footer p {
    font-size: 1.3rem;
}

.social-icons {
    margin-top: 2.3rem;
}



.github {}

.github {

    transition: transform 0.3s, box-shadow 0.3s;
}

.github:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;

}



.linkdin {
    margin-left: 3rem;
    transition: transform 0.3s, box-shadow 0.3s;


}

.linkdin:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


.insta {
    margin-left: 3rem;
    transition: transform 0.3s, box-shadow 0.3s;

}

.insta:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(161, 38, 147, 0.8);
}



/* ...............................media queries................... */



/* ........................ media queries ( 913)  ............. */
@media screen and (max-width:913px) {

    .footer {
        /* border: 2px solid red; */
        display: flex;
        justify-content: space-between;
        padding: 70px 50px;
        /*  */
    }


    .Home-icon {
        width: 70px;
        height: 70px;
    }

    .home-detail span {
        font-size: 1.7rem;
        font-weight: 500;
    }

    .Phone-icon {
        width: 70px;
        height: 70px;
    }

    .phone-no p {
        font-size: 1.8rem;
        margin-top: 23px;
    }

    .Gmail-icon {
        width: 70px;
        height: 70px;
    }

    .mail-name {
        /* margin: 0 auto ; */
        margin-left: 33px;
        margin-top: 23px;
        /* border: 2px solid aqua; */

    }

    .mail-name p {
        font-size: 1.2rem;
    }



    /* ................right side................ */




    .right-footer {
        /* border: 2px solid rgb(0, 255, 21); */
        margin-left: 57px;
        /* width: 400px; */
        /* margin-top:33px ; */
    }

    .right-footer h1 {
        font-size: 2.7rem;

    }

    .right-footer p {
        font-size: 1.8rem;
        line-height: 40px;
    }

    .social-icons {
        /* border: 2px solid red; */
        line-height: 0;
        padding: 10px 30px;
    }

    .github,
    .linkdin,
    .insta {
        width: 70px;
        height: 70px;

    }




}







/* ........................ media queries ( 769)  ............. */
@media screen and (max-width:769px) {

    .footer {
        /* border: 2px solid red; */
        display: flex;
        justify-content: space-between;
        padding: 70px 25px;
        /*  */
    }


    .Home-icon {
        width: 70px;
        height: 70px;
    }

    .home-detail span {
        font-size: 1.7rem;
        font-weight: 500;
    }

    .Phone-icon {
        width: 70px;
        height: 70px;
    }

    .phone-no p {
        font-size: 1.8rem;
        margin-top: 23px;
    }

    .Gmail-icon {
        width: 70px;
        height: 70px;
    }

    .mail-name {
        /* margin: 0 auto ; */
        margin-left: 33px;
        margin-top: 23px;
        /* border: 2px solid aqua; */

    }

    .mail-name p {
        font-size: 1.2rem;
    }



    /* ................right side................ */




    .right-footer {
        /* border: 2px solid rgb(0, 255, 21); */
        margin-left: 57px;
        /* width: 400px; */
        /* margin-top:33px ; */
    }

    .right-footer h1 {
        font-size: 2.7rem;

    }

    .right-footer p {
        font-size: 1.8rem;
        line-height: 40px;
    }

    .social-icons {
        /* border: 2px solid red; */
        line-height: 0;
        padding: 10px 0px;
    }

    .github,
    .linkdin,
    .insta {
        width: 70px;
        height: 70px;

    }




}














/* ........................ media queries ( 541)  ............. */
@media screen and (max-width:541px) {

    .footer {
        display: flex;
        justify-content: space-between;
        padding: 70px 30px;
        flex-direction: column;
    }


    .Home-icon {
        width: 40px;
        height: 40px;
    }

    .home-detail span {
        font-size: 1.2rem;
    }

    .Phone-icon {
        width: 40px;
        height: 40px;
    }
    .phone-no p{
margin-top: 0px;
    }
    .Gmail-icon {
        width: 40px;
        height: 40px;
    }

    .mail-name {
        margin-left: 30px;
    }
   
    .mail-name p {
        font-size: 1.1rem;
margin-top: -13px;
   margin-left: 33px;
    }



    /* ................right side................ */




    .right-footer {
        /* border: 2px solid red; */
        margin-left: -17px;
        margin-top: 33px;
    }

    .right-footer h1 {
        font-size: 1.9rem;

    }

    .right-footer p {
        font-size: 1.3rem;
        line-height: 40px;
    }

    .social-icons {
        /* border: 2px solid red; */
        line-height: 0;
        padding: 10px 30px;
    }

    .github,
    .linkdin,
    .insta {
        width: 50px;
        height: 50px;

    }




}


















/* ........................ media queries ( 415)  ............. */
@media screen and (max-width:415px) {

    .footer {
        display: flex;
        justify-content: space-between;
        padding: 70px 30px;
        flex-direction: column;
    }


    .Home-icon {
        width: 40px;
        height: 40px;
    }

    .home-detail span {
        font-size: 1.2rem;
    }

    .Phone-icon {
        width: 40px;
        height: 40px;
    }

    .Gmail-icon {
        width: 40px;
        height: 40px;
    }

    .mail-name {
        margin-left: 30px;
    }

    .mail-name p {
        font-size: 1.1rem;
    }



    /* ................right side................ */




    .right-footer {
        /* border: 2px solid red; */
        margin-left: 0px;
        margin-top: 33px;
    }

    .right-footer h1 {
        font-size: 1.9rem;

    }

    .right-footer p {
        font-size: 1.3rem;
        line-height: 40px;
    }

    .social-icons {
        /* border: 2px solid red; */
        line-height: 0;
        padding: 10px 30px;
    }

    .github,
    .linkdin,
    .insta {
        width: 50px;
        height: 50px;

    }




}



/* ........................ media queries ( 376)  ............. */
@media screen and (max-width:376px) {

    .footer {
        display: flex;
        justify-content: space-between;
        padding: 70px 30px;
        flex-direction: column;
    }

    .Home-icon {
        width: 30px;
        height: 30px;
    }

    .Phone-icon {
        width: 30px;
        height: 30px;
    }

    .Gmail-icon {
        width: 30px;
        height: 30px;

    }

    .phone-no {
        margin-top: 0px;

    }

    .mail-name {
        margin-left: 30px;
        margin-top: 17px;

    }

  
    /* ................right side................ */

    .right-footer {
        /* border: 2px solid red; */
        margin-left: 0px;
        margin-top: 23px;
    }

    .right-footer h1 {
        font-size: 1.9rem;

    }

    .right-footer p {
        font-size: 1rem;
        line-height: 40px;
    }

    .social-icons {
        /* border: 2px solid red; */
        line-height: 0;
        padding: 10px 45px;
    }

    .github,
    .linkdin,
    .insta {
        width: 40px;
        height: 40px;

    }

}















/* ........................ media queries ( 361)  ............. */
@media screen and (max-width:361px) {

    .footer {
        display: flex;
        justify-content: space-between;
        padding: 60px 20px;
        /* border: 2px solid yellow; */
        flex-direction: column;
    }
    
    .Home-icon {
        width: 40px;
        height: 40px;
        /* border: 2px solid red; */
      
    }

    .Phone-icon {
        width: 40px;
        height: 40px;
    }

    .Gmail-icon {
        width: 50px;
        height: 50px;

    }

    .phone-no {
        margin-top: 0px;

    }

    .mail-name {
        margin-left: 30px;
        margin-top: 17px;

    }

    /* ................right side................ */

    .right-footer {
        /* border: 2px solid red; */
        margin-left: 0px;
        margin-top: 23px;
    }

    .right-footer h1 {
        font-size: 1.9rem;

    }

    .right-footer p {
        font-size: 1rem;
        line-height: 40px;
    }

    .social-icons {
        /* border: 2px solid red; */
        line-height: 0;
        padding: 10px 50px;
    }

    .github,
    .linkdin,
    .insta {
        width: 40px;
        height: 40px;

    }

}
