.form{
    display: flex;
    /* border: 2px solid red; */
    justify-content: center;
    padding-bottom:230px ;
    padding-top:200px ;

    /* height: 100vh; */
}

.Form-area{
    /* border: 2px solid red; */
    background-color: rgb(20, 20, 20);
padding: 30px 30px;
width: 600px;

border-radius: 20px;
}
.Form-area:hover{
    box-shadow: 0px 0px 22px 0px rgb(159, 151, 6);

}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
    font-size: 2rem;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
font-size: 1.5rem;
}

textarea {
    resize: vertical;
}

button{
    background-color: rgb(248, 217, 15);
font-size: 2rem;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-radius:20px ;
    color:black;
}

button:hover {
    background: transparent;
    color: red;
    box-shadow: 0px 0px 22px 0px rgb(6, 134, 159);
border: 2px solid white;
}


/* ..................media queries-----(1441)----.............. */



@media screen and (max-width:1441px) {
    .Form-area{
        /* border: 2px solid red; */
        background-color: rgb(20, 20, 20);
    padding: 30px 30px;
    width: 800px;
    
    border-radius: 20px;
    }

    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        color: #fff;
        font-size: 3rem;
    }
    
}