.header {
    display: flex;
flex-direction: row;
    justify-content: space-between;
    /* background-color: red; */
    padding: 10px 50px;
}
.vrs-name{

    font-family: 'black_bones_personal_useRg', sans-serif;
    background: linear-gradient(to top, #c63748, #1e82ed);
    -webkit-background-clip: text;
    -webkit-text-fill-colour: transparent;
color: transparent;
}
.right-side-nav-active{
    /* background-color: yellow; */
display: flex;
margin-top: 20px;
    flex-direction: row;
} 

.right-side-nav-active li{
    padding: 10px;
    
}
.right-side-nav-active li a{
    font-size: 2.4rem;
padding-left: 42px;
}

.hamburger{
    display: none;
}



.left-side-nav{
    margin-top: 20px;
    
}











/* ..........................media queries................. */


@media screen and (max-width:1040px) {
    
.ur-div-active{
display: none;   

}


/* ...............when bamburger menu clicked................ */
.header {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    padding: 10px 20px;
}

.ur-div {
    background-color: black;
    width: 100%;
    position: absolute;
    top: 95px;
    left: 0;
    height: 100vh;

    /* left: 30px; */
}

.right-side-nav {

    /* padding-top: 10px; */
/* margin-bottom: 233px; */
    /* margin-top: 13PX; */
    /* background-color: yellow; */
/* border: 3px solid blue; */
display: flex;
text-align: center;
height: 600px;
justify-content: center;
flex-direction: column;
    transition: 0.3s;
}

.right-side-nav li {
    padding-left: 2rem;
    font-size: 2.5rem;
padding-top: 60px;

/* height: 80vh; */

}
.right-side-nav li a{
    list-style-type: none;
}


.hamburger{
    display: initial;
    margin-top: 30px;
    margin-right: 33px;
}


}
  /* .............media Quries........... */
/* ---------------for (1281)------ */
@media screen and (max-width:1281px){
    .ur-div{
        height: 80vh;
    }
    .vrs-name{
        font-size: 3rem;
    }
}

/* ---------------for (1025)------ */
@media screen and (max-width:1025px){

    .vrs-name{
        font-size: 2.5rem;
    }
}

/* ---------------for (913)------ */
@media screen and (max-width:913px){

    .vrs-name{
        font-size: 2.5rem;
    }
    .right-side-nav{
        margin-top: 193px;
    }
    
    .right-side-nav li a{
        font-size: 5rem;
        
    } 
    
}

/* ---------------for (821)------ */
@media screen and (max-width:821px){
    
   
    
    .right-side-nav li a{
        font-size: 4rem;
        
    } 

}

/* ---------------for (769)------ */
@media screen and (max-width:769px){
    .right-side-nav{
        margin-top: 93px;
    }
    
    .right-side-nav li a{
        font-size: 4rem;
        
    } 

}

/* ---------------for (541)------ */
@media screen and (max-width:541px){

    .vrs-name{
        font-size: 2.5rem;
    }
    .right-side-nav{
        margin-top: 3px;
    }
    
    .right-side-nav li a{
        font-size: 3rem;
        
    } 
    
}